@keyframes row1 {
   0% {
      background-position: 0 0;
   }

   100% {
      background-position: -12000px 0;
   }
}

@keyframes row2 {
   0% {
      background-position: 0 -300px;
   }

   100% {
      background-position: -12000px -300px;
   }
}

@keyframes row3 {
   0% {
      background-position: 0 -600px;
   }

   100% {
      background-position: -12000px -600px;
   }
}


#run {
   animation:
      1s steps(30) 0s row1,
      1s steps(30) 1s row2,
      1s steps(30) 2s row3;
   width: 400px;
   height: 300px;
   background-image: url('../img/sprite.png');
}
