@keyframes row1 {
   0% {
      background-position: 0 0;
   }

   100% {
      background-position: -1200px 0;
   }
}

@keyframes row2 {
   0% {
      background-position: 0 -300px;
   }

   100% {
      background-position: -1200px -300px;
   }
}

@keyframes row3 {
   0% {
      background-position: 0 -600px;
   }

   100% {
      background-position: -1200px -600px;
   }
}

#run {
   animation: row1 1s steps(30) none,
      row2 1s steps(30) 1s none,
      row3 1s steps(30) 2s none;
   width: 400px;
   height: 300px;
   background-image: url('../img/sprite.png');
}
